* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#welcomeDiv {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
    padding: 25vh 0 4vh 0;
    user-select: none;
}

#orderBtn {
    display: flex;
    width: 15%;
    min-width: 150px;
    height: 10%;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #333;
    font-weight: 600;
    transition: 100ms;
    cursor: pointer;
}

#orderBtn:hover {
    background-color: #444;
    color: white;
}

#orderBtn:active,
.item:hover {
    scale: 0.97;
}

#welcomeHeader {
    font-size: 3rem;
}

#content {
    display: none;
    justify-self: center;
    width: 468px;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

#menu {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 140px;
    height: 160px;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 1rem;
    margin: 0.5rem;
    transition: 100ms;
    cursor: pointer;
}

.item img {
    width: 100px;
    height: 70px;
}

#footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: white;
}

#paymentFooter {
    display: flex;
    align-items: center;
    width: 468px;
    height: 100%;
    padding: 0.5rem;
    font-weight: 600;
}

#payBtn {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #2dcb74;
    border-radius: 5px;
    margin-left: auto;
    transition: 100ms;
    cursor: pointer;
    user-select: none;
}

#payBtn:hover {
    scale: 0.97;
}